@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
body {
    font-family: 'Lexend Deca', sans-serif;
}
.teal {
    background-color: #1E6C93;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    transition: right 0.6125s ease-in-out;
}
.teal:hover {
    z-index: 1;
}
.tealtext {
    position: absolute;
    top: 42%;
    left: 25%;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.tealtext:hover ~ .teal {
    right: 49.5%;
    z-index: 2;
}
.pink {
    background-color: #E76B67;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    transition: left 0.6125s ease-in-out;
}
.pink:hover {
    z-index: 1;
}
.pinktext {
    position: absolute;
    top: 42%;
    left: 75%;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.pinktext:hover ~ .pink{
    left: 49.5%;
    z-index: 2;
}
a {
    color: #fff;
}
.at:active {
    color: #E76B67;
}
.ap:active {
    color: #1E6C93;
}
.text {
    font-size: 20px;
    
}
.heading {
    font-size: 50px;
}
@media screen and (max-width: 1000px) {
    .teal {
        right: 0;
        bottom: 50%;
        transition: bottom 2s ease-in-out;
    }
    .teal:hover {
        bottom: 45%;
        z-index: 1;
    }
    .pink {
        left: 0;
        top: 50%;
        transition: top 2s ease-in-out;
    }
    .pink:hover {
        bottom: 45%;
        z-index: 1;
    }
}