@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
body {
    font-family: 'Lexend Deca', sans-serif;
}
.teal {
    background-color: #1E6C93;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
}
.teal:hover {
    z-index: 1;
}
.tealtext {
    position: relative;
    top: 42%;
    left: 50%;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.pink {
    background-color: #E76B67;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
}
.pink:hover {
    z-index: 1;
}
.pinktext {
    position: relative;
    top: 42%;
    left: 50%;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 3;
}
a {
    color: #fff;
}
.at:active {
    color: #E76B67;
}
.ap:active {
    color: #1E6C93;
}
.text {
    font-size: 20px;
    
}
.heading {
    font-size: 50px;
}
@media screen and (max-width: 1000px) {
    .teal {
        right: 0;
        bottom: 50%;
    }
    .pink {
        left: 0;
        top: 50%;
    }
}